<!DOCTYPE html>
<html lang="en" ng-app="helloWorld">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script>
        angular.module("helloWorld", []);
        angular.module("helloWorld").controller("helloWorldCtrl", function ($scope) {
            $scope.message = "Hello World!";
        });
    </script>
</head>

<body>
    <h1 ng-controller="helloWorldCtrl">
        {{message}}
    </h1>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" class="name" ng-model="yourName" placeholder="Insara seu nome aqui">
        <hr>
        <h2>Hello {{yourName}}!</h2>
    </div>

    <h2>Todo</h2>
    <div ng-controller="TodoListController as todoList">
        <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
        [ <a href="" ng-click="todoList.archive()">archive</a> ]
        <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
                <label class="checkbox">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </label>
            </li>
        </ul>
        <form ng-submit="todoList.addTodo()">
            <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
            <input type="submit" value="add">
        </form>
    </div>

</body>

</html>